.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(96, 201, 243, 0.8);
  color: whitesmoke;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: rgba(96, 201, 243,0.95);
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar h1 {
  font-size: xx-large;
  margin: 0px;
  margin-top: 15px;
}

.navitem {
  padding: 10px;
}

.navitem:hover {
  background-color: whitesmoke;
  color: skyblue;
}

.routemaker-map {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.routemaker-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 100px;
  left: 50px;
  padding: 20px;
  z-index: 1;
  background-color: rgba(50,200,50,0.8);
}

#map-location {
  height: 30px;
  font-size: large;
  text-align: 'center';
}